<div>
  <h1>Quests</h1>
</div>

<!-- ส่วนของ new form ใน Turbo Frame -->
<%= turbo_frame_tag "new_quest" do %>
  <%= render 'form', quest: Quest.new %>
<% end %>

<hr>

<ul id="quests">
  <% @quests.each do |quest| %>
    <%= render 'quest', quest: quest %>
  <% end %>
</ul>